---
import "@/styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "astro:assets";
import malexanderlvz from "/src/malexanderlvz-marcos-santa-cruz-web-engineer-full-min.png";
import get_faded_prev from "/src/get-faded-santa-cruz-preview.png";
import ideal_jewelry_prev from "/src/ideal-jewelry-santa-cruz-preview.png";
import jalapenos_prev from "/src/jalapenos-santa-cruz-preview.png";
import palomar_prev from "/src/cafe-el-palomar-santa-cruz-preview.png";
import learkn_prev from "/src/learkn-preview.png";
import bien_miches_prev from "/src/bien-miches-santa-cruz-preview.png";
---

<script is:inline>
const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
};
const isDark = getThemePreference() === "dark";
document.documentElement.classList[isDark ? "add" : "remove"]("dark");

if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
    });
}
document.addEventListener(
    "astro:page-load",
    () => {
        document.querySelectorAll(".animate").forEach((node) => {
            node.setAttribute("data-animate", "true");
        });
    },
    { once: true },
);
</script>
<Layout title="malexanderlvz">
    <main
        class="text-foreground pt-2 m-auto p-4 w-[800px] max-w-[calc(100%-2rem)] text-lg leading-8"
    >
        <section class="name-title flex justify-center">
            <div
                class="text-center text-background mb-7 bg-primary uppercase font-bold py-1 px-2 shadow-sm border inline-flex text-sm"
            >
                Software Engineer
            </div>
        </section>
        <section class="contact-info text-foreground mb-4">
            <div class="flex justify-center gap-1 md:gap-5">
                <a
                    href="/"
                    class="flex flex-col py-2 px-3 bg-foreground rounded-xl items-center justify-center min-w-[66px]"
                >
                    <svg
                        class="h-5 w-5 text-background"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path
                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                        ></path></svg
                    >
                    <div class="text-sm pt-0.5 text-background">website</div>
                </a>
                <a
                    href="mailto:marcos@llavez.com"
                    class="flex flex-col py-2 px-3 bg-foreground rounded-xl items-center justify-center min-w-[66px]"
                >
                    <svg
                        class="h-5 w-5 text-background"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                        ></path>
                        <polyline points="22,6 12,13 2,6"></polyline></svg
                    >
                    <div class="text-sm pt-0.5 text-background">mail</div>
                </a>
                <a
                    href="https://linkedin.com/in/malexanderlvz"
                    class="flex flex-col py-2 px-3 bg-foreground rounded-xl items-center justify-center min-w-[66px]"
                >
                    <svg
                        class="h-5 w-5 text-background"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                        ></path>
                        <rect x="2" y="9" width="4" height="12"></rect>
                        <circle cx="4" cy="4" r="2"></circle></svg
                    >
                    <div class="text-sm pt-0.5 text-background">linkedin</div>
                </a>
                <a
                    href="https://github.com/malexanderlvz"
                    class="flex flex-col py-0 px-3 bg-foreground rounded-xl items-center justify-center min-w-[66px]"
                >
                    <svg
                        class="h-5 w-5 text-background"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                        ></path></svg
                    >
                    <div class="text-sm pt-0.5 text-background">github</div>
                </a>
                <a
                    href="https://calendly.com/malexanderlvz/30"
                    class="flex flex-col py-2 px-3 bg-foreground rounded-xl items-center min-w-[66px]"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="24"
                        height="24"
                        class="main-grid-item-icon h-5 w-5 text-background"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1"
                    >
                        <rect height="18" rx="2" ry="2" width="18" x="3" y="4"></rect>
                        <line x1="16" x2="16" y1="2" y2="6"></line>
                        <line x1="8" x2="8" y1="2" y2="6"></line>
                        <line x1="3" x2="21" y1="10" y2="10"></line>
                    </svg>

                    <div class="text-sm pt-0.5 text-background">Meet</div>
                </a>
            </div>
        </section>
        <div class="info-wrapper flex flex-col gap-5">
            <div class="hero pt-1.5">
                <div class="hidden-container">
                    <div class="media-container">
                        <div class="hero-swiper">
                            <div class="hero-media-image-container relative">
                                <div class="link-wrapper flex absolute w-full h-full z-[1]">
                                    <span class="sr-only"
                                    >Malexanderlvz, a proficient Software Engineer located in
                                        Santa Cruz, California; with his hands on his side, posing
                                        infront of a parlor stove under an arc of brinks.</span
                                    >
                                </div>
                                <div class="image-wrapper max-w-[800] w-[calc(100vw - 2rem)]">
                                    <Image
                                        src={malexanderlvz}
                                        alt="Malexanderlvz, a proficient Software Engineer located in Santa Cruz, California; with his hands on his side, posing infront of a parlor stove under an arc of brinks."
                                        class="hero-image animate object-cover"
                                    />
                                </div>
                            </div>
                        </div>
                        <div id="work-experience" class="z-0 absolute bottom-5"></div>
                        <div class="sticky-container">
                            <div
                                class="title-cta-container flex flex-col items-center text-background"
                            >
                                <h3
                                    id="overview"
                                    class="hero-cta-title animate text-white mt-4 mb-2 leading-tight font-extralight text-4xl"
                                >
                                    Winter '24
                                </h3>
                                <a
                                    href="#work-experience"
                                    class="cta-primary animate inline-block w-auto uppercase bg-background text-foreground py-4 px-6 text-xs"
                                >
                                    SEE MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sticky-container">
                        <div
                            class="title-cta-container flex flex-col items-center text-foreground"
                        >
                            <h3
                                id="overview"
                                class="hero-cta-title animate mt-4 leading-tight font-extralight text-4xl"
                            >
                                Winter '24
                            </h3>
                            {
                            /* <a
                            href="#work-experience"
                            class="cta-primary animate uppercase bg-foreground text-background py-4 px-6 text-xs"
                            >
                            MORE
                            </a>*/
                            }
                            <div class="h-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section
            class="projects grid grid-cols-3 gap-1 lg:grid-cols-4 lg:gap-4 -mx-8"
        >
            <a href="https://getfadedsc.com" class='project-container aspect-[71/111'>
                <Picture
                    src={get_faded_prev}
                    format="png"
                    alt="Mobile homepage screenshot of getfadedsc.com"
                />
            </a>
            <a href="https://idealjewelrysc.com" class='project-container aspect-[71/111]'>
                <Picture
                    src={ideal_jewelry_prev}
                    format="png"
                    alt="Mobile homepage screenshot of idealjewelrysc.com"
                />
            </a>
            <div class='project-container aspect-[71/111]'>
                <Picture
                    src={jalapenos_prev}
                    format="png"
                    alt="Mobile homepage screenshot of scpupusas.com"
                />
            </div>
            <div class='project-container aspect-[71/111]'>
                <Picture
                    src={palomar_prev}
                    format="png"
                    alt="Mobile homepage screenshot of cafeelpalomar.com"
                />
            </div>
            <div class='project-container aspect-[71/111]'>
                <Picture
                    src={learkn_prev}
                    format="png"
                    alt="Desktop homepage screenshot of learkn.com"
                />
            </div>
            <div class='project-container aspect-[71/111]'>
                <Picture
                    src={bien_miches_prev}
                    format="png"
                    alt="Mobile homepage screenshot of bienmiches.com"
                />
            </div>
        </section>
        <section class="work-experience flex flex-col">
            <div class="experience flex flex-col md:flex-row">
                <div class="year font-bold w-full md:w-[15%]">2023 - Present</div>
                <div class="xp-position flex flex-col w-full self-center">
                    <div class="flex flex-wrap h-full items-center font-bold">
                        Co-Founder / Software Engineer - Bien Miches
                    </div>
                    <a
                        href="https://www.bienmiches.com"
                        class="xp-company hover-underline-animation"
                    >https://bienmiches.com</a
                    >
                    <div class="xp-description">
                        Co-founded Bien Miches, an e-commerce platform offering premium
                        michelada mixes, with ingredients from Mexico and an authentic
                        recipe procured from a distinguished restaurant in Jalisco.
                    </div>
                </div>
            </div>
            <div class="experience flex flex-col md:flex-row">
                <div class="year font-bold w-full md:w-[15%]">2015 - Present</div>
                <div class="xp-position flex flex-col w-full self-center">
                    <div class="flex flex-wrap h-full items-center font-bold">llavez</div>
                    <a
                        href="https://www.llavez.com"
                        class="xp-company hover-underline-animation"
                    >https://www.llavez.com
                    </a>
                    <div class="xp-description">
                        Llavez provides software consulting services and supports my open
                        source work.
                    </div>
                </div>
            </div>
            <div class="experience flex flex-col md:flex-row">
                <div class="year font-bold w-full md:w-[15%]">2022 - 2023</div>
                <div class="xp-position flex flex-col w-full self-center">
                    <div class="flex flex-wrap h-full items-center font-bold">
                        Director of Professional Services - FreeAgent CRM
                    </div>
                    <a
                        href="https://freeagentcrm.com"
                        class="xp-company hover-underline-animation"
                    >https://freeagentcrm.com</a
                    >
                    <div class="xp-description">
                        At FreeAgent CRM, I progressed through two promotions, initially as
                        a Senior Technical Support Specialist and later ascending to the
                        role of Director of Professional Services.
                    </div>
                </div>
            </div>
            <div class="experience flex flex-col md:flex-row">
                <div class="year font-bold w-full md:w-[15%]">2020 - 2021</div>
                <div class="xp-position flex flex-col w-full self-center">
                    <div class="flex flex-wrap h-full items-center font-bold">
                        Co-Founder - Learkn
                    </div>
                    <a
                        href="https://twitter.com/learkn_"
                        class="xp-company hover-underline-animation"
                    >https://twitter.com/learkn_</a
                    >
                    <div class="xp-description">
                        I embarked on an exhilarating journey to revolutionize the education
                        technology landscape. Together with my co-founders, I played a
                        pivotal role in shaping the company's vision and strategy. My
                        responsibilities ranged from defining our vision to architecting and
                        overseeing the development of our innovative e-learning platform.
                    </div>
                </div>
            </div>
            <div class="experience flex flex-col md:flex-row">
                <div class="year font-bold w-full md:w-[15%]">2019 - 2020</div>
                <div class="xp-position flex flex-col w-full self-center">
                    <div class="flex flex-wrap h-full items-center font-bold">
                        Software QA Lead / Business Implementation - Driscoll's
                    </div>
                    <a
                        href="https://www.driscolls.com"
                        class="xp-company hover-underline-animation"
                    >https://www.driscolls.com</a
                    >
                    <div class="xp-description">
                        In a corporate setting at Driscoll's, I assumed a pivotal role as
                        the principal Quality Assurance (QA) and Business Implementation
                        lead for two significant international projects, overseeing their
                        successful launches in the United States and Mexico.
                    </div>
                </div>
            </div>
            <div class="experience flex flex-col md:flex-row">
                <div class="year font-bold w-ccull md:w-[15%]">2015 - 2017</div>
                <div class="xp-position flex flex-col w-full self-center">
                    <div class="flex flex-wrap h-full items-center font-bold">
                        WordPress / LAMP Stack Developer
                    </div>
                    <a
                        href="https://www.contractor-advertising.com"
                        class="xp-company hover-underline-animation"
                    >https://www.contractor-advertising.com</a
                    >
                    <div class="xp-description">
                        As a WordPress/LAMP stack web developer at Contractor Advertising, I
                        successfully designed and maintained responsive, user-friendly
                        websites for clients in the contracting industry. My expertise in
                        WordPress, PHP, and MySQL, coupled with a proactive approach to
                        troubleshooting and optimizing web applications, played a crucial
                        role in achieving high-performance outcomes and contributing to the
                        overall success of our projects.
                    </div>
                </div>
            </div>
        </section>
    </main>

    <style>
    .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
    }
    h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    }
    .text-gradient {
    background-image: hsl(var(--accent-gradient));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    }
    .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
    rgba(var(--accent-dark), 66%),
    rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
    }
    .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
    }
    .instructions strong {
    color: rgb(var(--accent-light));
    }
    .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    }
    .hover-underline-animation {
    display: inline-block;
    position: relative;
    width: fit-content;
    }

    .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(var(--foreground));
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
    transform: scaleX(0);
    transform-origin: bottom right;
    }
    </style>
</Layout>
